/* ============================================================ Body */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FDF7FF;
}

h2 {

    text-align: center;
    border: 5px;
    border-style: solid;
    border-color: #242429;
    border-radius: 5px;
    margin: 15px 5% 15px 5%;
    background-color: #464653;
    color: #FDF7FF;
    padding: 5px;
}


/* ============================================================ Navigation Bar */

header {
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
}

nav ul {
    width: 100%;
    overflow: hidden;
    background-color: #464653;
    border: 5px;
    border-style: solid;
    border-color: #242429;
    border-radius: 5px;
    list-style: none;
    padding: 5px;
    margin: 0;
}
/* The following URL's was used to help with the "nav li" element: 
https://www.w3schools.com/howto/howto_css_topnav_equal_width.asp 
https://stackoverflow.com/questions/5232310/htmlcss-how-to-force-div-contents-to-stay-in-one-line*/

nav li {
    padding: 10px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

nav a {
    text-decoration: none;
    color: #FDF7FF;
    padding: 5px 33% 5px 33%;
}

nav a:hover {
    background-color: #FDF7FF;
    text-decoration: none;
    color: #242429;
}

.active {
    background-color: #FF8066;
}


/* ============================================================ Profile Image */

#picture-of-diarmuid {
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    border-radius: 50%;
}


/* ============================================================ About Me */

.about-me-border {
    margin: 15px;
    border: 5px;
    border-style: solid;
    border-color: #FDF7FF;
    border-radius: 5px;
}

/* ============================================================ Work & Education */

.button-color {
    background-color: #464653;
    color: #FDF7FF;
    border-color: #FDF7FF;
}

.button-color:hover {
    background-color: #FF8066;
    color: #464653;
}

.button {
    float: left;
    width: 20%;
    margin-left: 10%;
}

/* ============================================================ Skills */

.styling-progress-bars {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/* ============================================================ Hobbies */

.hobbies-style {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 6em;
    border: 5px;
    border-style: solid;
    border-color: #FDF7FF;
    border-radius: 5px;
}

/* ============================================================ Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2em;
  background-color: #464653;
  color: #FDF7FF;
  text-align: center;
}

.footer span {
    float: left;
    margin-left: 10%;
    text-align: center;
    width: 20%;
}

.footer a {
    text-decoration: none;
    color: #FDF7FF;
}

.footer a:hover {
    color: #FF8066;
}